@import '../../Styles/_theme';

.index-container {
  position: relative;
  color: $black-color;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 55px 0;
    margin: 0 0 0 142px;

    .text-container {
      width: 519px;

      p {
        line-height: 2;
        width: 424px;
      }

      h1 {
        margin: 16px 0;
        font-weight: 500;
      }
    }
  }

  .right-wave,
  .left-wave {
    position: absolute;
  }

  .left-wave {
    left: 0;
    top: 84px;
  }

  .right-wave {
    right: 0;
    top: 383px;
  }
}
